<header class="header">
  <div class="header__logo">
    <img
      class="header__img"
      [src]="image.title.header_logo"
      [alt]="image.title.title_name"
    />
  </div>
  <ul class="navigation">
    <li class="navigation__el" routerLinkActive="active">
      <a routerLink="/projects">Projects</a>
    </li>
    <li class="navigation__el" routerLinkActive="active">
      <a routerLink="/expertise">Expertise</a>
    </li>
    <li class="navigation__el" routerLinkActive="active">
      <a routerLink="/job">Job</a>
    </li>
    <li class="navigation__el" routerLinkActive="active">
      <a routerLink="/news">News</a>
    </li>
    <li class="navigation__el" routerLinkActive="active">
      <a routerLink="/about">About</a>
    </li>
  </ul>
  <a class="header__contact" href="">Contact</a>
</header>
