<header class="about-header">
    <ul class="about-header__navigation">
        <li class="about-header__el active"><a href="">C.F. Møller Architects</a></li>
        <li class="about-header__el"><a href="">Lean, green and digital with BIM</a></li>
        <li class="about-header__el"><a href="">Sustainability</a></li>
        <li class="about-header__el"><a href="">Awards</a></li>
        <li class="about-header__el"><a href="">team</a></li>
        <li class="about-header__el"><a href="">History</a></li>
    </ul>
</header>